<h3>
  UpperCase Pipe
</h3>
<p style="color:blue"> {{data| uppercase}} </p>


<h3>
 Lower Case  Pipe
</h3>
<p style="color:blue"> {{data1| lowercase}} </p>


<h3>
  Today Time
 </h3>
 <p style="color:blue"> {{dateToday|date: 'shortTime' }} </p>

 <h3>
  Full-Date
 </h3>
 <p style="color:blue"> {{dateToday|date: 'fullDate' }} </p>


 <h3>
 Decimal Number
 </h3>
 <p style="color:blue"> {{num|number }} </p>
 <h3>
  CurrencyPipe
  </h3>
  <p style="color:blue"> {{ money | currency:'USD':'symbol' }} </p>
